
.body {
    font-family: 'DM Sans', sans-serif;
    color: var(--md-sys-color-on-surface);
    text-rendering: optimizeLegibility;
    margin: 0;
}

/* buttons */
.buttons-wrap-h{
    display: flex;
    flex-direction:row;
    flex-flow: row wrap;
    column-gap: 16px;
    justify-content:flex-start;
    align-items: start;
}
.buttons-wrap-v{
    display: flex;
    flex-direction:column;
    flex-flow: column wrap;
    row-gap: 16px;
    column-gap: 16px;
    margin-top: 16px;
}
.button-primary {
    padding: 12px 40px;
    color: var(--md-sys-color-primary-container);
    background-color: var(--md-sys-color-on-surface);;
    border-radius: 24px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: +0.5;
    text-decoration: none;
    border-color: transparent;
    stroke-width: 0;
    text-align: center; 
}
.button-primary:hover {
    color: var(--md-sys-color-background);
    background-color: var(--md-sys-color-primary);
}
.button-text {
    padding: 12px 32px;
    color: var(--md-sys-color-on-surface-variant);
    background-color: transparent;
    border-radius: 2rem;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: +0.5;
    text-decoration: none;
    text-align: center;
}
.button-text:hover {
    color: var(--md-ref-palette-primary35); 
}

.avatar-icon{
    width: 36px;
    height: 36px;
    background-image: url("https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

/* Containers - navigation */
.navbar-wrap {
    height: auto;
    width: auto;
    background-color: var(--md-sys-color-background);
    padding: 8px 24px;
    z-index: 2;
    position: fixed;
    left: 0%;
    bottom: auto;
    right: 0% ;
    top: 0%;
    display: flex;
    margin-right: 0;
    margin-left: 0;
    align-items: center;
    justify-content: space-between;
}
.nav-logo-link {
    font-size: 24px;
    margin-bottom: 0px;
    line-height: 20px;
    text-decoration: none;
    color: var(--md-ref-palette-neutral1);
    text-align: center;   
}
.nav-items {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
.nav-link {
    flex-grow: 1;
    font-size: 16px;
    color: var(--md-sys-color-on-surface);
    text-decoration: none;
    padding: 8px 16px;
}
.nav-link:hover {
    color: var(--md-ref-palette-primary35);
    text-decoration: underline;
}
.footer-sign {
    width: 100%;
    padding: 8px 24px;
    z-index: 2;
    position: fixed;
    left: auto;
    bottom: 0%;
    right: auto ;
    top: auto;
    display: flex;
    flex:content;
    align-items: start;
    background: var(--md-ref-palette-neutral10);
    color: var(--md-ref-palette-neutral80);
}

/* Containers content*/
.section-100-h {
    height: 100vh;
    width: 100vw;
    display: block;
    background-color: var( --md-ref-palette-primary80);
    /*background-image: url("https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80") ;
    background-size: cover;
    background-position: top;*/
    min-height: fit-content;
    
}
.container-50-v {
    width: 50%;
    height: 100%;
    max-width: 460px;
    padding: 0px 5vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-self: center;
    min-height: max-content;
    row-gap: 16px;
}
.container-20-v {
    width: 30vw;
    height: 100%;
    min-width: 350px;
    max-width: 660px;
    padding: 0vw 5vw;
    display: flex;
    flex-grow: inherit;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    align-self: center;
    min-height: max-content;
}
.project-section {
    width: inherit;
    margin:0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items:stretch ;
    padding: 7vw;
    row-gap: 16px;
    background-color: var(--md-ref-palette-secondary95);
}
.template-wrap{
    width: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: max-content;
    flex-grow: 1;
    flex-direction: column;
    column-gap: 16px;
    row-gap: 16px;
}
.template-card {
    width: 100%;
    padding:0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var( --md-sys-color-surface);
}
.template-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.template-card-bg{
    width: 100%;
    height: 150px;
    background-image: url(https://cdn.logojoy.com/wp-content/uploads/20201117163112/birdland_banner-scaled.jpg);
    background-size: cover;
    background-position: center;
}
.building-block-v {
    display: block;
    padding: 24px;
}
    
/* forms */
.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    column-count: 1;
}
.input-primary-light {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 2px;
    border-color: transparent;
    stroke-width: 0;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .buttons-wrap-h{
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        row-gap: 24px;
    }

    .section-100-h{
        height: auto;
    }

    .container-50-v {
        width: auto;
        max-width: none;
    }
    .container-20-v {
        width: auto;
        padding: 7vw;
        height: 100%;
        max-width: none;
    }
    
    .project-section{
        height: auto;
        padding-top: 4rem;
    }
    .template-wrap{
        grid-template-columns: 1fr 1fr;
        row-gap: 24px;
    }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .nav-link {
        display: none;
    }

} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {

    .template-wrap{
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
}

